@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');

body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.size-display {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.modal p {
  margin: 0;
}

.theme-display > div {
  display: flex;
  height: 32px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

table {
  line-height: 1.7;
  display: table;
  width: 100%;
  text-align: left;
}

.slots table {
  tr td:nth-of-type(2) {
    padding: 0;
  }
}

html.dark {
  .custom-container.warning {
    p {
      color: #e9e7d9;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  &.contained {
    display: block;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  .navbar-links-wrapper {
    position: static;
  }
}

aside.sidebar {
  margin-left: calc(50vw - 1280px / 2);
  @media screen and (max-width: 1280px) {
    margin-left: 0;
  }
}
